.container {
  width: 120rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: 100%;
}

.name {
  font-size: var(--size-32px);
  color: var(--black);
}

.box {
  height: 40rem;
}
