:root {
    --white: #FFFFFF;
    --whitty: #E5E8ED;
    --graywhite: #E5E5E5;
    --gray200: #F4F5F7;
    --gray300: #E5E8ED;
    --gray500: #B3B7BC;
    --gray600: #9A9CA5;
    --gray800: #424551;
    --gray700: #787A80;
    --gray900: #1E212C;
    --danger: #FF4242;
    --primary: #17696A;
}