@import url(vars.css);
@import url(colors.css);
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lato";
}

a {
  text-decoration: none !important;
  color: #000;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: var(--size-46px);
  font-weight: var(--font-black);
  color: var(--gray900);
}

main {
  position: relative;
  overflow: hidden;
  min-height: 600px;
}

.signinup__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 4rem 1rem;
}
.signinup__title {
  padding-bottom: 1.5rem;
  text-align: center;
  font-size: var(--size-28px);
  font-weight: var(--font-bold);
  color: var(--gray900);
}
.signinup__info {
  text-align: center;
  font-size: var(--size-l);
  line-height: 150%;
  color: var(--gray700);
}
.signinup__control {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.signinup__control img[alt=show] {
  width: 1rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.signinup__label {
  margin-bottom: 0.5rem;
  font-size: var(--size-s);
  line-height: 150%;
  color: var(--gray800);
}
.signinup__input {
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
  background: var(--white);
  border: 1px solid #d7dadd;
  border-radius: 4px;
}
.signinup__input::-moz-placeholder {
  font-size: var(--size-s);
  line-height: 150%;
  color: var(--gray600);
}
.signinup__input::placeholder {
  font-size: var(--size-s);
  line-height: 150%;
  color: var(--gray600);
}
.signinup__options {
  position: relative;
}
.signinup__options input {
  width: 5%;
}
.signinup__options input :checked {
  background: var(--primary);
  color: var(--primary);
}
.signinup__options label {
  font-size: var(--size-s);
  line-height: 150%;
  color: var(--gray800);
}
.signinup__options span {
  position: absolute;
  right: 0;
  top: 0;
  color: var(--primary);
}
.signinup__button {
  width: 100%;
  height: 3rem;
  margin: 1.5rem 0;
  background: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 4px;
}
.signinup__goto {
  padding-left: 0.5rem;
  color: var(--primary);
}
.signinup__socials p {
  display: flex;
  justify-content: center;
}
.signinup__alternative {
  font-size: var(--size-s);
  line-height: 150%;
  color: var(--gray700);
}

.loading-spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 4rem;
  height: 4rem;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 600px) {
  .form {
    width: 90%;
  }
  .heading h1 {
    font-size: 2rem;
  }
  .heading p {
    font-size: 1.5rem;
  }
}
.header {
  width: 100%;
  height: 7.5rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9;
}
.header .topbar {
  height: 36px;
  display: flex;
  justify-content: center;
  background-color: var(--gray900);
}
.header .topbar__content {
  width: 120rem;
  display: flex;
  justify-content: space-evenly;
}
.header .topbar__start {
  display: flex;
  align-items: center;
  opacity: 0.6 !important;
}
.header .topbar__login__item {
  color: var(--white);
}
.header .topbar__login__item a {
  color: var(--primary);
}
.header .topbar__login span {
  padding: 0 10px;
}
.header .topbar__text {
  font-size: var(--size-s);
  color: var(--white);
  opacity: 0.6;
}
.header .topbar__text:hover, .header .topbar__text:active {
  opacity: 1;
}
.header .topbar__text_active {
  font-size: var(--size-s);
  color: var(--white);
  opacity: 1;
}
.header .topbar__categories {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .topbar__categories div {
  margin: 10px;
}
.header .topbar__language, .header .topbar__login {
  display: flex;
  align-items: center;
}
.header .topbar__language div, .header .topbar__login div {
  margin: 10px;
}
.header .topbar__language img, .header .topbar__login img {
  width: 1.25rem;
  height: 0.75rem;
}
.header .mainbar {
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.header .mainbar__content {
  width: 120rem;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
.header .mainbar__logo {
  display: flex;
  align-items: center;
}
.header .mainbar__text_active {
  color: var(--gray700) !important;
}
.header .mainbar__text_color_red {
  color: var(--danger) !important;
}
.header .mainbar__categories {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .mainbar__categories a {
  color: #000;
}
.header .mainbar__categories a:hover {
  color: var(--gray700) !important;
}
.header .mainbar__favourite {
  display: flex;
  align-items: center;
}
.header .mainbar__favourite img {
  padding-bottom: 4px;
}
.header .mainbar__favourite div {
  margin: 10px;
}
.header .mainbar__form {
  position: relative;
  display: flex;
  align-items: center;
}
.header .mainbar__form input {
  width: 24rem;
  height: 3rem;
}
.header .mainbar__form img {
  position: absolute;
  top: 36px;
  right: 16px;
}

.carousel {
  height: 2rem;
  display: flex;
  justify-content: center;
  padding-top: 7.5rem;
}
.carousel__content {
  width: 120rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}
.carousel__text {
  font-size: var(--size-xs);
  color: var(--white);
  margin: 2px;
}
.carousel_font_black {
  font-weight: var(--font-black);
}
.carousel_text_underline {
  text-decoration: underline;
}

.hero-slider {
  height: 50rem;
  position: relative;
  display: flex;
}
.hero-slider__content {
  width: 120rem;
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.hero-slider__caption {
  position: absolute;
  top: 200px;
  left: 200px;
  text-align: left;
}
.hero-slider__new-collection {
  font-size: var(--size-l);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 150%;
  color: var(--gray900);
}
.hero-slider__menswear {
  font-size: var(--size-72px);
  font-weight: var(--font-black);
  line-height: 130%;
  color: var(--gray900);
  letter-spacing: 1px;
}
.hero-slider__btn {
  background-color: transparent;
  border: none;
}
.hero-slider__btn_prev {
  position: absolute;
  top: 400px;
  left: 20px;
}
.hero-slider__btn_next {
  position: absolute;
  top: 400px;
  right: 5px;
}
.hero-slider__button-sale, .hero-slider__button-menswear {
  height: 4rem;
  font-weight: var(--font-bold);
  letter-spacing: 0.5px;
  line-height: 52px;
  border: 1px solid var(--primary);
  border-radius: 4px;
}
.hero-slider__button-sale {
  width: 9rem;
  color: var(--primary);
  background-color: transparent;
  margin-right: 20px;
}
.hero-slider__button-menswear {
  width: 14rem;
  background-color: var(--primary);
  color: var(--white);
}

.carousel {
  height: 100%;
}
.carousel-root {
  height: 100%;
}

.carousel.carousel-slider {
  padding: 0;
}

.top-categories {
  height: 27rem;
  display: flex;
  justify-content: center;
}
.top-categories__content {
  width: 120rem;
  padding: 0 250px;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
}
.top-categories__box {
  width: 30%;
  height: 70%;
}
.top-categories__box img {
  width: 400px;
  height: 400px;
  border: none;
}
.top-categories__box p {
  display: flex;
  justify-content: center;
}

.new-arrivals {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
.new-arrivals__content {
  width: 120rem;
  height: 63rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.new-arrivals__checkout, .new-arrivals__see-collection {
  display: flex;
  justify-content: center;
  font-size: var(--size-xl);
  line-height: 150%;
}
.new-arrivals__checkout {
  color: var(--gray700);
}
.new-arrivals__see-collection {
  text-decoration: underline !important;
  color: var(--primary);
}
.new-arrivals__products {
  width: 100%;
  height: 28rem;
  display: flex;
  justify-content: space-evenly;
  padding: 0 250px;
}
.new-arrivals__products__item {
  position: relative;
  margin: 0 10px;
}
.new-arrivals__products__item__img {
  width: 16rem;
  height: 20rem;
}
.new-arrivals__heart {
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 16px;
  bottom: 150px;
}
.new-arrivals__heart_active {
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 16px;
  bottom: 150px;
  background: red;
  border-radius: 44px;
}
.new-arrivals__products-names {
  display: flex;
}
.new-arrivals__products-name-text {
  font-size: var(--size-xl);
  line-height: 150%;
  color: var(--gray800);
}
.new-arrivals__products-price-text {
  font-size: var(--size-xl);
  font-weight: var(--font-bold);
  line-height: 130%;
  color: var(--gray900);
}
.new-arrivals__btns {
  position: absolute;
  bottom: 70px;
  left: 800px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.new-arrivals__btns li {
  display: block;
}
.new-arrivals__btns li.previous {
  display: none;
}
.new-arrivals__btns li.next {
  display: none;
}
.new-arrivals__btns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
}
.new-arrivals__btns a:hover {
  color: white;
  background-color: var(--gray700);
}
.new-arrivals__active a {
  color: white;
  background-color: var(--primary);
}

.banners {
  width: 120rem;
  margin: auto;
}
.banners__banner-first-content, .banners__banner-second-content {
  position: relative;
  display: flex;
  justify-content: center;
}
.banners__image-content {
  width: auto;
  height: 19rem;
  position: absolute;
  top: 50px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banners__image-content_s {
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.banners__image-content img {
  position: absolute;
  top: 70px;
  left: 240px;
  z-index: 0;
}
.banners__banner-text1 {
  font-size: var(--size-s);
  font-weight: var(--font-bold);
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--gray900);
}
.banners__banner-text2 {
  width: 22rem;
  font-size: var(--size-32px);
  font-weight: var(--font-black);
  line-height: 130%;
  color: var(--gray900);
}
.banners__banner-time {
  display: flex;
  justify-content: space-between;
}
.banners__banner-time-text {
  font-size: var(--size-28px);
  font-weight: var(--font-bold);
  line-height: 150%;
  color: var(--gray900);
}
.banners__banner-time-text_size_s {
  font-size: var(--size-s);
  font-weight: var(--font-normal);
}
.banners__banner-button {
  width: 12.5rem;
  height: 3rem;
  font-size: var(--size-s);
  letter-spacing: 0.5px;
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
}
.banners__banner-button_btn_s {
  width: 7.5rem;
}
.banners__banner-1, .banners__banner-2, .banners__banner-3, .banners__banner-4 {
  position: relative;
}
.banners__banner-1, .banners__banner-4 {
  width: 46rem;
}
.banners__banner-2, .banners__banner-3 {
  width: 69.5rem;
}
.banners__banner-1, .banners__banner-3 {
  margin-right: 10px;
}
.banners__banner-1, .banners__banner-2 {
  margin-bottom: 10px;
}

.popular-categories {
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popular-categories__content {
  width: 120rem;
  display: flex;
  flex-direction: column;
}
.popular-categories__box {
  display: flex;
  justify-content: center;
  padding: 0 250px;
}
.popular-categories__box div {
  margin: 0 10px;
}
.popular-categories__box div img {
  width: 11rem;
  height: 19rem;
}
.popular-categories__text {
  font-size: var(--size-xl);
  font-weight: var(--font-bold);
  line-height: 150%;
  text-align: center;
  color: var(--gray900);
}

.trending-now {
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trending-now__content {
  width: 120rem;
  height: 100%;
  position: relative;
  background-color: var(--gray300);
}
.trending-now__products {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trending-now__products__btns {
  position: absolute;
  top: 70px;
  left: 1600px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.trending-now__products__btns li {
  display: none;
}
.trending-now__products__btns li.previous {
  display: block;
}
.trending-now__products__btns li.next {
  display: block;
}
.trending-now__products__btns a {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 4rem;
  color: var(--primary);
  cursor: pointer;
}
.trending-now__products__btns a:hover {
  color: white;
  background-color: var(--primary);
}
.trending-now__products__active a {
  color: white;
  background-color: #2b2eff;
}
.trending-now__products__disabled a {
  color: grey;
  opacity: 0.5;
}
.trending-now__product {
  position: relative;
  margin-right: 1.25rem;
}
.trending-now__product img {
  width: 24.5rem;
  height: 27.5rem;
}
.trending-now__title {
  position: absolute;
  top: 60px;
  left: 350px;
}
.trending-now__text {
  display: block;
  font-size: var(--size-l);
  line-height: 150%;
  text-align: center;
  color: var(--gray800);
}
.trending-now__text_price {
  font-size: var(--size-24px);
  font-weight: var(--font-bold);
  line-height: 130%;
  text-align: center;
  color: var(--gray900);
}
.trending-now__btn {
  width: 100%;
  height: 12.5rem;
  display: flex;
  justify-content: center;
}
.trending-now__button {
  width: 15.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-weight: var(--font-bold);
  letter-spacing: 0.5px;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
}
.trending-now__heart {
  width: 1rem !important;
  height: 1rem !important;
  position: absolute;
  right: 16px;
  bottom: 150px;
}
.trending-now__heart_active {
  width: 1rem !important;
  height: 1rem !important;
  position: absolute;
  right: 16px;
  bottom: 150px;
  background: red;
  border-radius: 3rem;
}

.sale {
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sale__content {
  width: 120rem;
  height: 100%;
  position: relative;
}
.sale__products {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sale__products__btns {
  position: absolute;
  top: 70px;
  left: 1600px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.sale__products__btns li {
  display: none;
}
.sale__products__btns li.previous {
  display: block;
}
.sale__products__btns li.next {
  display: block;
}
.sale__products__btns a {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 4rem;
  color: var(--primary);
  cursor: pointer;
}
.sale__products__btns a:hover {
  color: white;
  background-color: var(--primary);
}
.sale__products__active a {
  color: white;
  background-color: #2b2eff;
}
.sale__products__disabled a {
  color: grey;
  opacity: 0.5;
}
.sale__product {
  height: 31rem;
  position: relative;
  margin-right: 20px;
}
.sale__product__img {
  width: 24.5rem;
  height: 27.5rem;
}
.sale__product:hover .sale__cart {
  visibility: visible;
  opacity: 1;
}
.sale__title {
  position: absolute;
  top: 60px;
  left: 350px;
}
.sale__text {
  padding-left: 10px;
  font-size: var(--size-l);
  line-height: 150%;
  color: var(--gray800);
}
.sale__text_price {
  display: inline-block;
  padding-left: 10px;
  font-size: var(--size-24px);
  font-weight: var(--font-bold);
  line-height: 130%;
  text-align: center;
  color: var(--danger);
}
.sale__text_price_old {
  padding-left: 10px;
  display: inline-block;
  text-decoration: line-through;
}
.sale__btn {
  width: 100%;
  height: 12.5rem;
  display: flex;
  justify-content: center;
}
.sale__button {
  width: 16rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-weight: var(--font-bold);
  letter-spacing: 0.5px;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
}
.sale__heart {
  position: absolute;
  right: 16px;
  bottom: 100px;
}
.sale__heart img {
  width: 1rem;
  height: 1rem;
}
.sale__cart {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s, border 0.5s linear;
}
.sale__cart__properties {
  display: flex;
  justify-content: space-between;
}
.sale__cart__properties__size {
  padding-left: 10px;
}
.sale__cart__properties__size span {
  margin-right: 10px;
  border: 1px solid black;
}
.sale__cart__properties__colors {
  display: flex;
}
.sale__cart__properties__colors div {
  position: relative;
}
.sale__cart__properties__colors img[alt=circle] {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 4px;
  left: 4px;
}
.sale__cart__properties__colors img[alt=ellipse] {
  width: 24px;
  height: 24px;
  position: relative;
  display: block;
}
.sale__cart__button {
  width: 100%;
  background: var(--primary);
  color: var(--white);
  border-radius: 4px;
}
.sale__cart__button img {
  margin-right: 10px;
}

.cta-mobile-app {
  height: 21rem;
  position: relative;
  display: flex;
  justify-content: center;
}
.cta-mobile-app__content {
  position: relative;
  width: 120rem;
  height: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--gray900);
}
.cta-mobile-app__shopping {
  height: 22rem;
  position: absolute;
  top: -30px;
  left: 170px;
}
.cta-mobile-app__text {
  position: absolute;
  top: 50px;
  left: 900px;
  font-size: var(--size-32px);
  font-weight: var(--font-black);
  line-height: 130%;
  color: var(--white);
}
.cta-mobile-app__google-play {
  position: absolute;
  top: 200px;
  left: 900px;
}
.cta-mobile-app__app-store {
  position: absolute;
  top: 200px;
  left: 1100px;
}

.services {
  height: 15rem;
  display: flex;
  justify-content: center;
}
.services__content {
  width: 120rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.services__text1 {
  font-size: var(--size-xl);
  font-weight: var(--font-bold);
  line-height: 150%;
  text-align: center;
  color: var(--gray900);
}
.services__text2 {
  line-height: 160%;
  text-align: center;
  color: var(--gray700);
}
.services img {
  margin-left: 5rem;
}

.instagram {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}
.instagram__content {
  width: 120rem;
  height: 17rem;
  position: relative;
  display: flex;
}
.instagram__text {
  margin: 0 2rem;
}
.instagram__follow-text {
  font-size: var(--size-m);
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 150%;
  color: var(--gray900);
}
.instagram__images {
  width: 80%;
  display: flex;
}
.instagram__image {
  margin: 0 20px;
  width: 100%;
}
.instagram__image img {
  width: 100%;
  height: 100%;
}
.instagram__button {
  width: 15.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 150px;
  letter-spacing: 0.5px;
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
  transition: 2s;
}
.instagram__button:hover {
  background-color: var(--primary);
  color: var(--white);
  transition: 1s;
  transform: rotate(360deg);
}

.blog {
  margin-top: 12.5rem;
  height: 38rem;
  display: flex;
  justify-content: center;
}
.blog__content {
  width: 120rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.blog_h1 {
  position: absolute;
  top: 0;
  left: 360px;
}
.blog__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 360px;
  width: 130px;
  height: 44px;
  font-size: var(--size-s);
  font-weight: var(--font-bold);
  letter-spacing: 0.5px;
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
}
.blog__images {
  width: 77rem;
  height: 26rem;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  margin-right: 14rem;
}
.blog__image {
  width: 38rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 20px;
}
.blog__image__caption {
  font-size: var(--size-xl);
  font-weight: var(--font-bold);
  line-height: 150%;
}
.blog__image__text1 {
  width: 25rem;
  display: flex;
  justify-content: space-between;
}
.blog__image__text2 {
  line-height: 160%;
  color: var(--gray800);
}
.blog__image__picture {
  width: 600px;
  height: 337px;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 9.5rem;
  margin-bottom: 9.5rem;
}
.logos__content {
  display: flex;
  justify-content: space-evenly;
  width: 120rem;
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34rem;
}
.subscribe__content {
  width: 120rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray200);
}
.subscribe__for-updates {
  width: 31rem;
  height: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 6rem;
}
.subscribe__checkboxes {
  display: flex;
  justify-content: space-between;
}
.subscribe__checkbox-category {
  width: 6rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-s);
  font-weight: var(--font-bold);
  color: var(--gray700);
  border: 1px solid var(--gray700);
  border-radius: 4px;
}
.subscribe__checkbox-category_hover {
  background-color: var(--primary);
  color: var(--white);
}
.subscribe__form {
  position: relative;
}
.subscribe__input {
  width: 21.5rem;
  height: 4rem;
  margin-right: 0.5rem;
}
.subscribe__receive-communications {
  line-height: 160%;
  color: var(--gray800);
}
.subscribe__receive-communications input {
  margin-right: 10px;
}
.subscribe__title {
  display: flex;
  justify-content: left;
}
.subscribe__text1 {
  font-size: var(--size-xl);
  line-height: 150%;
  color: var(--gray700);
}
.subscribe__text2 {
  line-height: 160%;
  color: var(--gray800);
}
.subscribe__button {
  width: 9rem;
  height: 4rem;
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary);
  border-radius: 4px;
}

.footer {
  height: 22.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--gray900);
}
.footer__content {
  width: 120rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__categories {
  width: 75rem;
  height: 19rem;
  display: flex;
  justify-content: space-around;
}
.footer__divider {
  width: 90%;
  position: absolute;
  top: 300px;
  border: 1px solid var(--white);
  opacity: 0.15;
}
.footer__down-text {
  display: inline-flex;
  position: absolute;
  top: 300px;
  margin-right: 900px;
  font-size: var(--size-xs);
  line-height: 150%;
  color: var(--white);
  margin-top: 20px;
  margin-left: 100px;
}
.footer__down-text img {
  margin: 0 0.25rem;
}
.footer__go-to-top {
  position: absolute;
  top: 320px;
  margin-left: 950px;
  font-weight: var(--font-bold);
  line-height: 160%;
  color: var(--white);
  opacity: 0.6;
}
.footer__socials {
  display: flex;
  justify-content: space-between;
}
.footer__help, .footer__shop, .footer__get-in-touch, .footer__download {
  margin-top: 3rem;
}
.footer__text_white {
  font-weight: var(--font-bold);
  line-height: 160%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--white);
}
.footer__text_graywhite {
  line-height: 160%;
  color: var(--white);
  opacity: 0.6;
}
.footer__text_graywhite:hover {
  opacity: 1;
}
.footer__text_call, .footer__text_email {
  line-height: 160%;
  color: var(--white);
}
.footer__call, .footer__email {
  margin-left: 0.25rem;
  opacity: 0.6;
}
.footer__call:hover, .footer__email:hover {
  font-style: italic;
  text-decoration: underline;
}
.footer__download {
  width: 22rem;
}
.footer__apps {
  display: flex;
  justify-content: space-between;
}

.heart_active {
  background: red;
}

.centered {
  height: 30rem;
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray900);
  color: var(--white);
}

.account {
  height: 60rem;
}
.account__content {
  width: 120rem;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin: 2rem auto 0;
}
.account__main-content {
  width: 50rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.account__title {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: var(--size-32px);
  font-weight: var(--font-black);
  line-height: 130%;
  color: var(--gray900);
}
.account__delete-account {
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.account__description {
  width: 100%;
  height: 20rem;
}
.account__menu {
  width: 20rem;
  height: 100%;
  background: #ffffff;
  border: 1px solid #e5e8ed;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}
.account__menu a {
  height: 3rem;
}
.account__main-data {
  height: 5rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
.account__name {
  font-weight: var(--font-bold);
  font-size: var(--size-xl);
  line-height: 150%;
  color: var(--gray800);
}
.account__email {
  line-height: 160%;
  color: var(--gray700);
}
.account img[alt=my-profile] {
  background: black;
  opacity: 0.5;
}
.account__my-profile, .account__my-orders, .account__wishlist, .account__recently-viewed, .account__my-reviews, .account__sign-out {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  border: 1px solid var(--gray200);
}
.account__my-profile img, .account__my-orders img, .account__wishlist img, .account__recently-viewed img, .account__my-reviews img, .account__sign-out img {
  margin-right: 1rem;
}
.account__my-profile:hover, .account__my-orders:hover, .account__wishlist:hover, .account__recently-viewed:hover, .account__my-reviews:hover, .account__sign-out:hover {
  background: var(--primary);
  color: var(--white);
}
.account__wishlist {
  position: relative;
}
.account__wishlist__quantity {
  position: absolute;
  right: 2rem;
}
.account_active {
  background: var(--primary);
  color: var(--white);
}
.account__delete-account img {
  margin-right: 1rem;
}

.profile__form__row {
  display: flex;
  justify-content: space-between;
}
.profile__form__control {
  position: relative;
  display: flex;
  flex-direction: column;
}
.profile__form__control label {
  line-height: 160%;
  color: var(--gray800);
}
.profile__form__control input {
  width: 22rem;
  height: 3rem;
  background: #ffffff;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.profile__form__control img[alt=show],
.profile__form__control img[alt=dropdown] {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
}
.profile__form__control img[alt=dropdown] {
  background: #000;
  opacity: 0.5;
}
.profile__form__button {
  width: 10rem;
  height: 4rem;
  background: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-weight: var(--font-bold);
  line-height: 52px;
  letter-spacing: 0.5px;
  margin-top: 2rem;
}

.signout__button {
  width: 10rem;
  height: 3rem;
  background: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 4px;
  margin-top: 1.5rem;
}

button.dropdown-toggle.btn.btn-primary {
  background: var(--gray900);
  border: none;
}

.content {
  text-align: center;
}

.nav {
  width: 120rem;
  height: 3rem;
  display: flex;
  margin: 0 auto;
  background: var(--gray200);
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 11rem;
  list-style: none;
}
.nav__list div {
  margin-right: 1rem;
}
.nav__text {
  font-size: var(--size-s);
  line-height: 150%;
  color: var(--gray800) !important;
}
.nav__text__active {
  color: var(--gray600) !important;
}/*# sourceMappingURL=index.css.map */